.icon {
  width: 45px;
}
.icon1 {
  width: 45px;
}
.buttons {
  display: flex;
  font-size: large;
  margin-right: 50px;
}

.button2 {
  margin-left: 4px;
  font-size: large;
}
.zero {
  margin-left: 350px;
  font-size: large;
  width: 45px;
  margin-top: 100px;
  font-size: large;
  margin-right: 500px;
  align-items: center;
}
.counter {
  background-color: aquamarine;
  border: 5px solid rebeccapurple;
  width: 750px;
  height: 400px;
  margin-left: 350px;
}
